@mixin button-style {
    background: $gradient;
    border: none;
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 15px 25px;
    box-shadow: $shadow;
}

@mixin bloc-layout {
    display: block;
    align-items: center;
}

@mixin flex-layout {
    display: flex;
    justify-content: center;
}

@mixin card-layout($margin: $border){
    margin: $margin;
    box-shadow: $shadow;
    border-radius: $border;
}