@mixin button-style {
    background: $gradient;
    border: none;
    font-size: larger;
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 15px 25px;
    box-shadow: $shadow;
}

@mixin bloc-layout {
    display: block;
    align-items: center;
}

@mixin flex-layout($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin card-layout {
    margin-bottom: 20px;
    box-shadow: $shadow;
    border-radius: 20px;
}

@mixin tab-only {
    @media screen and (min-width: map-get($breakpoints, tab)){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}