.location {
    @include flex-layout;
    padding: 20px;
    text-align: center;
    background-color: darken($silver-color, 5%);
    i{
        margin-right: 20px;
    }
    h3{
        font-weight: lighter;
    }
}

.intro{
    background-color: $silver-color;
    text-align: center;
    padding: $padding-bloc;
    p{
        padding-bottom: 20px;
    }
    
}

.running {
    padding: $padding-bloc;
    &__case{
        @include tab-only{
            display: grid;
            grid-template-columns: auto auto auto;
            padding-right: 20px;
        }
    }
    &__expl {
        margin-left: 20px;
        position: relative;
        @include card-layout;
        @include flex-layout(none);
        @include tab-only{
            justify-content: center;
        }
        background: $silver-color;
        padding: 20px;
        height: 70px;
        &:hover {
            background-color: lighten($color-primary, 35%);
            i{  
                color: $color-primary;
            }
        }
    }
    &__number {
        font-size: smaller;
        color: white;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        background-color: $color-primary;
        position: absolute;
        left: -10px;
        border-radius: 20px;
        flex-shrink: 0;
    }
    &__content {
        @include flex-layout;
        i {
            margin: 0px 20px 0px 20px;
            @include tab-only{
                margin-left: 0;
            }
        }
    }
}


   
.restaurants {
    @include tab-only{
        display: grid; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 20px;
        justify-content: center;

    }
    &__card {
        @include card-layout;
        position: relative;
        &:hover {
            box-shadow: $hover-shadow;
        }
    }
    &__new {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        border-radius: 3px;
        font-weight: bold;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 8px 15px;
    }
    &__info {
        @include flex-layout(space-between);
        color: black;  
        padding: 20px 10px 20px 10px;
        }
        &__like{
            position: absolute;
            display: flex;
            align-items: center;
            right: 60px;
        }
        .fill-heart{
            // display: none;
        }
    img {
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
}
