.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $border;
    text-align: center;
    background-color: darken($silver-color, 5%);
    i{
        margin-right: 20px;
    }
    h3{
        font-weight: lighter;
    }
}

.intro{
    background-color: $silver-color;
    text-align: center;
    padding: $padding-bloc;
    h1, p{
        padding-bottom: 20px;
    }
    
}

.running {
    padding: $padding-bloc;
    h2 {
        padding-left: $border;
    }
    &__expl {
        @include card-layout(20px 20px 20px 40px);
        display: flex;
        align-items: center;
        background: $silver-color;
        padding: $border;
        height: 70px;
        &:hover {
            background-color: lighten($color-primary, 35%);
            i{
                color: $color-primary;
            }
        }
    }
    &__number {
        font-size: smaller;
        color: white;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        background-color: $color-primary;
        position: relative;
        left: -30px;
        border-radius: 20px;
        flex-shrink: 0;
    }
    &__content {
        display: flex;
        align-items: center;
        i {
            margin: 0px 30px 0px 30px;
        }
    }
}

main {
    padding: $padding-bloc;
    background: $silver-color;
    h2{
        padding-left: $border;
    }
    .restaurants {
        &__card {
            @include card-layout;
            position: relative;
            &:hover {
                box-shadow: $hover-shadow;
            }
        }
        &__new {
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            border-radius: 3px;
            font-weight: bold;
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 8px 15px;
        }
        &__info {
            @include flex-layout;
            justify-content: space-between; 
            color: black;  
            padding: 20px 10px 20px 10px;
            .empty-heart{
                font-size: 20px;
                margin: 10px;
            }
            .fill-heart{
                font-size: 20px;
                margin: 10px;
            }
        }
        img {
            width: $width;
            height: 25%;
            border-radius: $border $border 0 0;
            object-fit: cover;
        }
    }
}

