.card {
    width: 100%;
    margin-top: -70px;
    position: relative;
    border-radius: 30px 30px 0px 0px;
}

.img-header {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    object-fit: cover;
    position: static;
}
.menu-header{
   @include flex-layout(space-between);
   margin-bottom: 40px;
   position: relative;
   h1 {
       font-family: 'shrikhand', sans-serif;
       padding: 0;
    }
    &__heart{
        position: absolute;
        display: flex;
        align-items: center;
        right: 60px;
    }
    .fill-heart{
    // display: none;
    }
}

.menu{
    &__category{
        padding-bottom: 40px;
    }
    h2{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
        position: relative;
        &::after{
        content: '';
        width: 40px;
        height: 3px;
        background: #99e2d0;
        position: absolute;
        left: 0px;
        bottom: 15px;
        }
    }
    .menu__item{
        @include flex-layout(space-between, flex-end);
        @include card-layout;
        position: relative;
        .item__name{
            margin: 15px;
            white-space: nowrap;
            overflow: hidden;
            p, h3{
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        span{
            margin: 0px 15px 15px 0px;
            font-weight: bold;
        }
        .check{
            @include flex-layout(none);
            position: absolute;
            right: 0;
            border-radius: 0px 20px 20px 0px;
            height: 100%;
            font-size: 30px;
            padding: 0 20px;
            color: white;
            background-color: $color-tertiary;
            // display: none;
        }
    }
}

.menu-button{
    display: flex;
    margin: 30px;
    justify-content: center;
}