* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    display: contents;
    text-decoration: none;
    color: black;
}

ul > li {
    list-style: none;
    & > a {
        color: white;
    }
}

main{
    padding: $padding-bloc;
    background-color: $silver-color;
}