footer{
    background-color: #3d3d3d;
    color: #fff;
    padding: 20px;
    font-size: small;
    width: $width;
    h1{
        font-family: 'shrikhand', sans-serif;
        font-size: 16px;
        padding-bottom: 16px;
    }
    li{
        padding-bottom: 8px;
    }
}